@(viewModel: models.AcquireCompletionViewModel)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config)

@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.playbackList
@import views.acquire.AcquireFailure.{BuyAnotherId, FinishId}
@import views.html.acquire.main
@import views.html.helper.form

@main(
    title = Messages("acquire_acquirefailure.title")
){
<div class="two-col clearfix">
    <div class="second-col">
        <div class="alert-failed">
            <h2>@Messages("ms.vehiclesService.response.unableToProcessApplication-title")</h2>
            <p>
                @Messages("ms.vehiclesService.response.unableToProcessApplication")
                <br>
                @Messages("ms.vehiclesService.response.unableToProcessApplication-address")
            </p>
        </div>
    </div>
    <div class="first-col">
        @playbackList(
            Messages("acquire_failure.transaction_details.header"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (Messages("acquire_failure.transaction_details.transaction_id") -> viewModel.completeAndConfirmResponseModel.transactionId)
                playbackItems += (Messages("acquire_failure.transaction_details.transaction_date") -> viewModel.completeAndConfirmResponseModel.transactionTimestamp.toString("dd/MM/yyyy"))
            }
        )()
    </div>
    <div class="form-steps">
        <div class="step">
            <button id="printDisposalSuccess" type="button" name="action" value="printDisposalSuccess" class="button js-only print-button">
                @Messages("acquire_failure.buttonnavprint")
            </button>
        </div>

        <div class="step">
            @form(action = controllers.routes.AcquireFailure.buyAnother()) {
                @csrfTokenHiddenField()
                <button id="@BuyAnotherId" type="submit" name="action" class="button button-new-disposal button-secondary">
                    @Messages("acquire_failure.buyAnother")
                </button>
            }
        </div>

        <div class="step">
            @form(action = controllers.routes.AcquireFailure.finish()) {
                @csrfTokenHiddenField()
                <button id="@FinishId" type="submit" name="action" class="button button-new-disposal button-secondary">
                    @Messages("acquire_failure.finish")
                </button>
            }
        </div>

    </div>

</div>
}