@(viewModel: models.AcquireCompletionViewModel,
    surveyUrl: Option[String])(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import controllers.routes.SetUpTradeDetails
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.alertWarning
@import common.views.html.widgets.alertSuccess
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.formSteps
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.vehicleDetailPlayback
@import views.acquire.AcquireSuccess.{BuyAnotherId, FinishId}
@import views.acquire.BeforeYouStart.NextId
@import views.html.helper.form

@main(
    progress = Some(Messages("acquire_progress_9")),
    title = "Summary"
) {

<div class="two-col clearfix acquire-success">
    <div class="second-col">
        @alertSuccess(Some(Messages("acquire_success.complete.header"))){
            <p>@Messages("acquire_success.complete.p1")</p>
            @alertWarning() {
                <p><strong>@Messages("acquire_success.complete.p2")</strong></p>
            }
        }
        <h2>@Messages("acquire_success.further_information.header")</h2>

        <ul>
            <li>@Messages("acquire_success.further_information.p1")</li>
            <li>@Messages("acquire_success.further_information.p2")</li>
        </ul>

        @alertWarning() {
            <p><strong>@Messages("acquire_success.further_information.alert")</strong></p>
        }

        @formSteps(
            controllers.routes.AcquireSuccess.finish(),
            FinishId,
            surveyUrl,
            cssClasses = List("desktop-only"),
            args = Map('target -> controllers.routes.AcquireSuccess.buyAnother(), 'buttonId -> BuyAnotherId)
        )
    </div>

    <div class="first-col">
        @playbackList(
            Messages("acquire_success.transaction_details.header"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (
                    Messages("acquire_success.transaction_details.transaction_id") ->
                    viewModel.completeAndConfirmResponseModel.transactionId
                )
                playbackItems += (
                    Messages("acquire_success.transaction_details.transaction_date") ->
                    viewModel.completeAndConfirmResponseModel.transactionTimestamp.toString("dd/MM/yyyy")
                )
            },
            List("transaction-details")
        )()

        @vehicleDetailPlayback(
            viewModel.vehicleDetails,
            {
                val additionalPlaybackItems: LinkedHashMap[String, String] = LinkedHashMap()
                additionalPlaybackItems += (
                    Messages("acquire_success.vehicle_details.mileage") ->
                    (viewModel.completeAndConfirmDetails.mileage match {
                        case Some(mileage) => java.text.NumberFormat.getIntegerInstance().format(mileage)
                        case None => Messages("acquire_success.vehicle_details.mileage_not_entered")
                    })
                )
            },
            List("related")
        ){
            <dt>@Messages("acquire_success.vehicle_details.taxOrSorn")</dt>
            @if(viewModel.vehicleSorn.sornVehicle == None) {
                <dt class="tax-or-sorn"><strong>@Messages("acquire_success.vehicle_details.sornNotEntered")</strong></dt>
            } else {
                <dt class="tax-or-sorn"><strong>

                @Messages(
                    "acquire_success.vehicle_details.sornEntered",
                    viewModel.completeAndConfirmResponseModel.transactionTimestamp.toString("dd/MM/yyyy")
                )

                </strong></dt>
                <dt class="word-wrap-only tax-or-sorn"><strong>@Messages("acquire_success.vehicle_details.sornEntered.p1")</strong></dt>
            }
        }

        <div class="acquire-success-summary-playback">
            <div class="vehicle-sold-by">
                @playbackList(
                    Messages("acquire_success.trader_details.header"),
                    {
                        val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                        playbackItems += (Messages("acquire_success.trader_details.trader_name") ->
                            viewModel.traderDetails.traderName)
                        playbackItems += (Messages("acquire_success.trader_details.trader_address") ->
                            viewModel.traderDetails.traderAddress.address.mkString("<br/>"))
                        viewModel.traderDetails.traderEmail match {
                            case Some(email) => playbackItems += ("EMAIL_" + Messages("acquire_success.trader_details.trader_email") -> email)
                            case None => playbackItems += (Messages("acquire_success.trader_details.trader_email") -> Messages("acquire_email_not_entered") )}
                        playbackItems += (Messages("acquire_success.date_of_sale.label") -> viewModel.completeAndConfirmDetails.dateOfSale.toString("dd/MM/yyyy"))
                    },
                    List("related", "bg-plain")
                )()
            </div>

            @playbackList(
                Messages("acquire_success.new_keeper_details.p1"),
                {
                    val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                    playbackItems += (Messages("acquire_success.vehicle_details.name") ->
                        viewModel.newKeeperDetails.displayName)
                    playbackItems += (Messages("acquire_success.vehicle_details.address") ->
                        viewModel.newKeeperDetails.address.address.mkString("<br/>"))
                    viewModel.newKeeperDetails.email match {
                        case Some(email) => playbackItems += ("EMAIL_" + Messages("acquire_success.vehicle_details.email") -> email)
                        case None => playbackItems += (Messages("acquire_success.vehicle_details.email") -> Messages("acquire_email_not_entered") )}
                },
                List("related", "bg-plain")
            )()
        </div>
    </div>

    @formSteps(
        controllers.routes.AcquireSuccess.finish(),
        FinishId,
        surveyUrl,
        cssClasses = List("mobile-only"),
        args = Map('target -> controllers.routes.AcquireSuccess.buyAnother(), 'buttonId -> BuyAnotherId)
    )
</div>
}
