@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.SetUpTradeDetails
@import views.acquire.BeforeYouStart.NextId
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.alertWarning

@main(
    title = Messages("acquire_beforeyoustart.title")
) {

    <h1>@Messages("acquire_beforeyoustart.title")</h1>

    <div class="two-col clearfix">
        <div class="first-col">
            <div class="related">
                <dl>
                    <dt><a href="https://www.gov.uk/motor-traders-sale-vehicle">@Messages("acquire_beforeyoustart.link1")</a></dt>
                    <dt><a href="https://www.gov.uk/government/news/vehicle-tax-changes">@Messages("acquire_beforeyoustart.link2")</a></dt>
                </dl>
            </div>
        </div>
        <div class="second-col">

            <p>@Messages("acquire_beforeyoustart.p0")</p>
            @alertWarning() { <h2>@Messages("acquire_beforeyoustart.p1")</h2> }

            <a class="button" role="button" id="@NextId" href="@SetUpTradeDetails.present()">
                @Messages("acquire_beforeyoustart.button")
            </a>

            <p></p>
            <h2>@Messages("acquire_beforeyoustart.p2")</h2>
            <ul>
                <li>@Messages("acquire_beforeyoustart.listitem1") </li>
                <li>@Messages("acquire_beforeyoustart.listitem2.1")
                    <a href="https://www.gov.uk/government/publications/application-to-transfer-or-retain-a-vehicle-registration-number" target="_blank">
                        @Messages("acquire_beforeyoustart.listitem2.link")
                    </a>
                    @Messages("acquire_beforeyoustart.listitem2.2")
                </li>
                <li>@Messages("acquire_beforeyoustart.listitem3")</li>
                <li>@Messages("acquire_beforeyoustart.listitem4")</li>
                <li>@Messages("acquire_beforeyoustart.listitem5")</li>
            </ul>

            <h2>@Messages("acquire_beforeyoustart.p3")</h2>
            <ul>
                <li>@Messages("acquire_beforeyoustart.listitem6") </li>
                <li>@Messages("acquire_beforeyoustart.listitem7") </li>
            </ul>

            <div class="info-notice"><strong>@Messages("acquire_beforeyoustart.p4")</strong></div>
            <b/>
            <h2>@Messages("acquire_beforeyoustart.p5")</h2>
            <ul>
                <li>@Messages("acquire_beforeyoustart.listitem8") </li>
                <li>@Messages("acquire_beforeyoustart.listitem9") </li>
            </ul>

            <h2>@Messages("acquire_beforeyoustart.p6")</h2>
            <p>@Messages("acquire_beforeyoustart.p7")</p>

            <a class="button" role="button" id="@NextId" href="@SetUpTradeDetails.present()">
                @Messages("acquire_beforeyoustart.button")
            </a>
        </div>
    </div>
}
