@(businessChooseYourAddressForm: Form[models.BusinessChooseYourAddressFormModel],
        traderBusinessName: String,
        traderPostcode: String,
        traderEmail: Option[String],
        dropDownOptions: Seq[(String, String)])(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.BusinessChooseYourAddress
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechSelect
@import common.views.html.widgets.base.csrfTokenHiddenField
@import views.acquire.BusinessChooseYourAddress.{BackId, EnterAddressManuallyButtonId, SelectId}
@import views.html.acquire.main
@import views.html.helper.form
@import models.BusinessChooseYourAddressFormModel.Form.AddressSelectId
@import scala.collection.mutable.LinkedHashMap
@import common.views.html.widgets.playbackList

@main(
    title = Messages("acquire_businessChooseYourAddress_title"),
    currentForm = Some(businessChooseYourAddressForm),
    backButton = Some(controllers.routes.SetUpTradeDetails.present())
) {
    <h1>@Messages("acquire_businessChooseYourAddress_title")</h1>

    @form(action = BusinessChooseYourAddress.submit()) {
        @csrfTokenHiddenField()

        @playbackList(
            null,
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += Messages("acquire_businessChooseYourAddress_businessName_label") ->
                    Messages("acquire_businessChooseYourAddress_businessName", traderBusinessName)
                playbackItems += Messages("acquire_businessChooseYourAddress_postcode_label") -> traderPostcode
                traderEmail match {
                    case Some(email) => playbackItems += ("EMAIL_" + Messages("acquire_businessChooseYourAddress_businessEmail_label") -> email)
                    case None => playbackItems += (Messages("acquire_businessChooseYourAddress_businessEmail_label") ->
                        Messages("acquire_businessChooseYourAddress.emailNotEntered") )}
            }
        )()

        <br/>

        @if(dropDownOptions.isEmpty) {
        <h2>@Messages("acquire_businessChooseYourAddress_noaddressesfound.h2.1")</h2>
        <h2>@Messages("acquire_businessChooseYourAddress_noaddressesfound.h2.2")</h2>
        } else {
            @valtechSelect(businessChooseYourAddressForm(AddressSelectId),
                options = dropDownOptions.toSeq,
                args = Map(
                    '_label -> Messages("acquire_businessChooseYourAddress_addressSelect_label"),
                    'autoFocus -> true,
                    'class -> "ga-track-value ga-track-region",
                    Symbol("data-ga-category") -> "field_value",
                    Symbol("data-ga-action") -> "address_region"
                )
            )
        }

        @if(dropDownOptions.nonEmpty) {
            <a id="@EnterAddressManuallyButtonId" href="@controllers.routes.EnterAddressManually.present()">
                @Messages("acquire_businessChooseYourAddress.manualAddressEntry")
            </a>
        }
        <div class="form-steps">
            @if(dropDownOptions.isEmpty) {
                <a id="@EnterAddressManuallyButtonId" href="@controllers.routes.EnterAddressManually.present()" class="button">
                    @Messages("acquire_businessChooseYourAddress.manualAddressEntry.enterManuallyButton")
                </a>
            }
            @if(dropDownOptions.nonEmpty) {
                <button id="@SelectId" type="submit" name="action" class="button">
                    @Messages("acquire_businessChooseYourAddress.submitbutton")
                </button>
            }
        </div>
    }
}