@(viewModel: uk.gov.dvla.vehicles.presentation.common.model.BusinessKeeperDetailsViewModel
)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config
)

@import views.acquire.BusinessKeeperDetails.{BackId, NextId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.BusinessKeeperName
@import common.mappings.Email.EmailMaxLength
@import common.mappings.Postcode
@import common.views.constraints.FleetNumber
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import views.html.helper.form
@import common.views.html.widgets.email
@import common.views.html.widgets.optionalToggle
@import common.model.BusinessKeeperDetailsFormModel.Form.{FleetNumberId, FleetNumberOptionId, BusinessNameId, EmailId, EmailOptionId, PostcodeId}
@import views.html.common.vehicle_detail_playback


@main(
    progress = Some(Messages("acquire_progress_5")),
    title = Messages("acquire_businesskeeperdetails.title"),
    currentForm = Some(viewModel.form),
    backButton = Some(controllers.routes.VehicleLookup.present())
) {

    <h1>@Messages("acquire_businesskeeperdetails.title")</h1>

    <div class="two-col clearfix">
        <div class="first-col">
            @vehicle_detail_playback(viewModel.vehicleAndKeeperDetails)

            <div class="alert-warning print-message">
              <p><strong>@Messages("acquire_businesskeeperdetails.p3")</strong></p>
            </div>
        </div>

        <div class="second-col">


            <p>@Messages("acquire_businesskeeperdetails.p1")</p>

            <div class="form-steps">
                @form(action = controllers.routes.BusinessKeeperDetails.submit()) {
                    @csrfTokenHiddenField()

                    <div class="uppercase-input">
                        @valtechInputText(viewModel.form(BusinessNameId), args =
                            Map('_label -> Messages("acquire_businesskeeperdetails.businessname"),
                                'maxLength -> BusinessKeeperName.MaxLength,
                                '_showConstraints -> false
                            )
                        )
                    </div>

                    @optionalToggle(
                        viewModel.form(FleetNumberOptionId),
                        Messages("acquire_businesskeeperdetails.fleetnumberoption"),
                        Messages("acquire_businesskeeperdetails.fleetnumberoption.yes"),
                        Messages("acquire_businesskeeperdetails.fleetnumberoption.no"),
                        valtechInputText(
                            viewModel.form(FleetNumberId),
                            hintText = Some(Messages("acquire_businesskeeperdetails.businessname.hint")),
                            args = Map(
                                '_label -> Messages("acquire_businesskeeperdetails.fleetnumber"),
                                'maxLength -> FleetNumber.MaxLength,
                                'typeFleetNumber -> true,
                                '_showConstraints -> false,
                                'NO_OPTIONAL_LABEL -> false
                            ) ++ (if(config.isHtml5ValidationEnabled) Map('pattern -> FleetNumber.Pattern) else Nil)
                        )
                    )

                    @optionalToggle(
                        viewModel.form(EmailOptionId),
                        Messages("acquire_businesskeeperdetails.traderemailoption"),
                        Messages("acquire_businesskeeperdetails.traderemailoption.yes"),
                        Messages("acquire_businesskeeperdetails.traderemailoption.no"),
                        email(
                            viewModel.form(EmailId),
                            labelText = Messages("acquire_businesskeeperdetails.email"),
                            hintText = None,
                            args = Map('maxLength -> EmailMaxLength)
                        )
                    )

                    <div class="uppercase-input">
                        @valtechInputText(viewModel.form(PostcodeId),
                        hintText = Some(Messages("acquire_businesskeeperdetails.postcode.hint")),
                        args = Map('_label -> Messages("acquire_businesskeeperdetails.postcodelabel"),
                        '_showConstraints -> false,
                        'maxLength -> Postcode.MaxLength
                        )
                        )
                    </div>

                    <button id="@NextId" type="submit" name="action" class="button">
                        @Messages("acquire_businesskeeperdetails.nextbutton")
                    </button>
                }
            </div>
        </div>
    </div>
}
