@(data: models.CompleteAndConfirmViewModel,
  dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config)

@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Mileage
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.helpers.LabelHelper.optionalFieldKey
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.vehicleDetailPlayback
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.base.{valtechInputText, valtechDeclareCheck}
@import common.views.html.widgets.dates.valtechDate
@import models.CompleteAndConfirmFormModel.Form.{MileageId, ConsentId, DateOfSaleId, TodaysDateId}
@import views.acquire.CompleteAndConfirm.{BackId, SubmitId, modify}
@import views.html.helper.form

@main(
    title = Messages("acquire_completeAndConfirm.title"),
    currentForm = Some(data.form),
    backButton = Some(controllers.routes.VehicleTaxOrSorn.present())
) {
    <h1>@Messages("acquire_completeAndConfirm.title")</h1>

    @if(data.showDateOfSaleWarning) {
        <div class="site-overlay"></div>
    }

    @form(action = data.submitAction) {

    <div class="two-col clearfix acquire-complete-confirm">
        <div class="first-col">
            @playbackList(
                Messages("acquire_completeandconfirm.newkeeperDetails"),
                {
                    val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                    playbackItems += (Messages("acquire_completeandconfirm.displayName") -> data.keeperDetails.displayName)
                    playbackItems += (Messages("acquire_completeandconfirm.address") -> data.keeperDetails.address.address.mkString("<br/>"))
                    data.keeperDetails.email match {
                        case Some(email) => playbackItems += ("EMAIL_" + Messages("acquire_completeandconfirm.email") -> email)
                        case None => playbackItems += (Messages("acquire_completeandconfirm.email") -> Messages("acquire_vehicleTaxOrSorn.emailNotEntered") )}
                    if(data.keeperDetails.isBusinessKeeper)
                        playbackItems += (Messages("acquire_completeandconfirm.fleetNumber") -> data.keeperDetails.fleetNumber.getOrElse(Messages("acquire_completeandconfirm.fleetNumberNotEntered")))
                    else
                        playbackItems
                }
            )()
            @vehicleDetailPlayback(data.vehicleAndKeeperDetails)()
        </div>

        <div class="second-col">

                @csrfTokenHiddenField()

                @valtechDeclareCheck(
                    data.form(ConsentId),
                    args = modify(Map(
                        '_showConstraints -> false,
                        '_label -> Messages("acquire_keeperdetailscomplete.consent"),
                        'autoFocus -> true
                    ), data.showDateOfSaleWarning)
                )

                @if(data.showDateOfSaleWarning) {
                    <div class="popup-modal">
                      @if(data.disposalDate.isDefined) {
                        <p>@Messages("acquire_completeandconfirm.dateofsale.warning", data.disposalDate.get)</p>
                      } else {
                        <p>@Messages("acquire_completeandconfirm.dateofsale.warning.over12Months")</p>
                      }

                        <div id=@DateOfSaleId>
                            @valtechDate(
                                field = data.form(DateOfSaleId),
                                labelText = Messages("acquire_completeAndConfirm.dateofsale.label"),
                                hintText = Some(Messages("acquire_completeandconfirm.dateofsale.hint")),
                                showTodaysDateButton = true,
                                showTodaysDateButtonId = Some(TodaysDateId)
                            )

                        </div>

                        <div class="form-steps">
                            <button id="@SubmitId"
                            type="submit"
                            name="action"
                            class="button">
                            @Messages("acquire_completeAndConfirm.submitbutton")
                            </button>
                            <br/>
                            <a class="back" id="@BackId" href="@controllers.routes.VehicleTaxOrSorn.present()">
                            @Messages("acquire_completeAndConfirm.backbutton")
                            </a>
                        </div>
                    </div>
                }

                <div id=@DateOfSaleId class="form-steps">
                    @valtechDate(
                        field = data.form(DateOfSaleId),
                        labelText = Messages("acquire_completeAndConfirm.dateofsale.label"),
                        hintText = Some(Messages("acquire_completeandconfirm.dateofsale.hint")),
                        showTodaysDateButton = true,
                        showTodaysDateButtonId = Some(TodaysDateId),
                        args = modify(Map.empty, data.showDateOfSaleWarning)
                    )
                </div>

                @valtechInputText(
                    data.form(MileageId),
                    args = modify(Map('_label -> Messages("acquire_completeAndConfirm.mileage.label"),
                        '_showConstraints -> false,
                        'typeTel -> true,
                        'maxLength -> Mileage.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                        'optionalFieldKey -> true,
                        //'title -> Messages("acquire_keeperdetailscomplete.mileage.validation"),
                        'class -> "ga-track-optional-text",
                        Symbol("data-ga-action") -> "mileage"
                    ) ++
                    (if(config.isHtml5ValidationEnabled) Map('pattern -> Mileage.Pattern) else Nil), data.showDateOfSaleWarning)
                )

                <div class="form-steps">
                    <button id="@SubmitId"
                        type="submit"
                        name="action"
                        @if(data.showDateOfSaleWarning) {tabindex="-1"}
                        class="button">
                        @Messages("acquire_completeAndConfirm.submitbutton")
                    </button>

                </div>
        </div>
    </div>
    }
}
