@(data: uk.gov.dvla.vehicles.presentation.common.model.VehicleDetailsModel)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config)

@import controllers.routes.BeforeYouStart
@import controllers.routes.VehicleLookup
@import views.acquire.KeeperStillOnRecord.{BuyAnotherVehicleId, FinishId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    title = Messages("acquire_keeperstillonrecord.title")
) {
    <div class="two-col clearfix">
        <div class="first-col">
            <h2>@Messages("acquire_keeperstillonrecord.vehicledetails")</h2>
            <dl class="playback">
                <dt>@Messages("acquire_keeperstillonrecord.vehiclereg")</dt>
                <dd>@data.registrationNumber</dd>
                <dt>@Messages("acquire_keeperstillonrecord.vehiclemake")</dt>
                <dd>@data.vehicleMake</dd>
                <dt>@Messages("acquire_keeperstillonrecord.vehiclemodel")</dt>
                <dd>@data.vehicleModel</dd>
            </dl>
        </div>
        <div class="second-col">
            <p>@Messages("acquire_keeperstillonrecord.text1")</p>
            <p>@Messages("acquire_keeperstillonrecord.text2")</p>
            <p>@Messages("acquire_keeperstillonrecord.text3")</p>

            <div class="form-steps">
                @csrfTokenHiddenField()
                @{ /* Note the reverse routing syntax for the hyperlink */ }
                <a class="button" id="@BuyAnotherVehicleId" href="@controllers.routes.KeeperStillOnRecord.buyAnotherVehicle()">
                    @Messages("acquire_keeperstillonrecord.button1")
                </a>
                <a class="button-secondary" id="@FinishId" href="@controllers.routes.KeeperStillOnRecord.finish()">
                    @Messages("acquire_keeperstillonrecord.button2")
                </a>
            </div>
        </div>

    </div>
}
