@(data: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config,
dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import controllers.routes.BeforeYouStart
@import controllers.routes.VehicleLookup
@import views.acquire.KeeperStillOnRecord.{BuyAnotherVehicleId, FinishId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.vehicleDetailPlayback
@import common.views.html.widgets.xmasOpeningTimes

@main(
    title = Messages("acquire_keeperstillonrecord.title")
) {

    <h1>@Messages("acquire_keeperstillonrecord.title")</h1>

    <div class="two-col clearfix">
        <div class="first-col">
            @vehicleDetailPlayback(data)()
        </div>
        <div class="second-col">
            <p>@Messages("acquire_keeperstillonrecord.text1")</p>
            <p>@Messages("acquire_keeperstillonrecord.text2")</p>
            @xmasOpeningTimes()
            <p>@Messages("acquire_keeperstillonrecord.text3")</p>
            <p><a href="@{Messages("acquire_keeperstillonrecord.link")}"> @{Messages("acquire_keeperstillonrecord.text4")}</a></p>
            <p>@Messages("acquire_keeperstillonrecord.text5")</p>

            <div class="form-steps">
                @csrfTokenHiddenField()
                @{ /* Note the reverse routing syntax for the hyperlink */ }
                <a class="button" id="@BuyAnotherVehicleId" href="@controllers.routes.KeeperStillOnRecord.buyAnotherVehicle()">
                    @Messages("acquire_keeperstillonrecord.button1")
                </a>
                <a class="button-secondary" id="@FinishId" href="@controllers.routes.KeeperStillOnRecord.finish()">
                    @Messages("acquire_keeperstillonrecord.button2")
                </a>
            </div>
        </div>

    </div>
}
