@(newKeeperChooseYourAddressForm: Form[models.NewKeeperChooseYourAddressFormModel],
        newKeeperName: String,
        newKeeperPostcode: String,
        newKeeperEmail: String,
        dropDownOptions: Seq[(String, String)])(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.NewKeeperChooseYourAddress
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechSelect
@import common.views.html.widgets.base.csrfTokenHiddenField
@import views.acquire.NewKeeperChooseYourAddress.{BackId, EnterAddressManuallyButtonId, SelectId}
@import views.html.acquire.main
@import views.html.helper.form
@import models.NewKeeperChooseYourAddressFormModel.Form.AddressSelectId

@main(
    progress = Some(Messages("acquire_progress_6")),
    title = Messages("acquire_newKeeperChooseYourAddress_title"),
    currentForm = Some(newKeeperChooseYourAddressForm)
) {
    @form(action = NewKeeperChooseYourAddress.submit()) {
        @csrfTokenHiddenField()
        <dl class="playback">
            <dt>@Messages("acquire_newKeeperChooseYourAddress_newKeeperName_label")</dt>
            <dd>@Messages("acquire_newKeeperChooseYourAddress_newKeeperName", newKeeperName)</dd>
            <dt>@Messages("acquire_newKeeperChooseYourAddress_newKeeperEmail_label")</dt>
            <dd>@Messages("acquire_newKeeperChooseYourAddress_newKeeperEmail", newKeeperEmail)</dd>
            <dt>@Messages("acquire_newKeeperChooseYourAddress_newKeeperpostcode_label")</dt>
            <dd>@newKeeperPostcode</dd>
        </dl>

        <br/>

        @if(dropDownOptions.isEmpty) {
        <h2>@Messages("acquire_newKeeperChooseYourAddress_noaddressesfound.h2.1")</h2>
        <h2>@Messages("acquire_newKeeperChooseYourAddress_noaddressesfound.h2.2")</h2>
        } else {
            @valtechSelect(newKeeperChooseYourAddressForm(AddressSelectId),
                options = dropDownOptions.toSeq,
                args = Map(
                    '_label -> Messages("acquire_newKeeperChooseYourAddress_addressSelect_label"),
                    'autofocus -> true
                )
            )
        }

        @if(dropDownOptions.nonEmpty) {
            <a id="@EnterAddressManuallyButtonId" href="@controllers.routes.NotImplemented.present()">
                @Messages("acquire_newKeeperChooseYourAddress.manualAddressEntry")
            </a>
        }
        <div class="form-steps">
            @if(dropDownOptions.isEmpty) {
                <a id="@EnterAddressManuallyButtonId" href="@controllers.routes.NotImplemented.present()" class="button">
                    @Messages("acquire_newKeeperChooseYourAddress.manualAddressEntry.enterManuallyButton")
                </a>
            }
            @if(dropDownOptions.nonEmpty) {
                <button id="@SelectId" type="submit" name="action" class="button">
                    @Messages("acquire_newKeeperChooseYourAddress.submitbutton")
                </button>
            }
            <a id="@BackId" href="@controllers.routes.VehicleLookup.present()" class="button-secondary">
                @Messages("acquire_newKeeperChooseYourAddress.backbutton")
            </a>
        </div>
    }
}
