@(viewModel: models.NewKeeperEnterAddressManuallyViewModel,
    newKeeperPostcode: String)(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import views.acquire.NewKeeperEnterAddressManually.{BackId, NextId}
@import views.html.acquire.main
@import views.html.helper.form
@import models.EnterAddressManuallyFormModel.Form.AddressAndPostcodeId
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.addressAndPostcode
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    progress = Some(Messages("acquire_progress_3")),
    title = Messages("acquire_newkeeperenteraddressmanually.title"),
    currentForm = Some(viewModel.form)
) {

<div class="two-col clearfix">
    <div class="first-col">
        <h2>@Messages("acquire_newkeeperenteraddressmanually.vehicleDetails")</h2>
        <dl class="playback">
            <dt>@Messages("acquire_newkeeperenteraddressmanually.vehicleReg")</dt>
            <dd>@viewModel.vehicleDetails.registrationNumber</dd>
            <dt>@Messages("acquire_newkeeperenteraddressmanually.vehicleMake")</dt>
            <dd>@viewModel.vehicleDetails.vehicleMake</dd>
            <dt>@Messages("acquire_newkeeperenteraddressmanually.vehicleModel")</dt>
            <dd>@viewModel.vehicleDetails.vehicleModel</dd>
        </dl>
        <div class="alert-warning print-message">
            <p><strong>@Messages("acquire_newkeeperenteraddressmanually.p4")</strong></p>
        </div>
    </div>

    <div class="second-col">
        <div class="enter-address-manually uppercase-input sr-only-labels">
            @form(action = controllers.routes.NewKeeperEnterAddressManually.submit()) {
            @csrfTokenHiddenField()

            @addressAndPostcode(viewModel.form(AddressAndPostcodeId))

            <legend>@Messages("address.postcode.label")</legend>
            <div class="read-only-input">@newKeeperPostcode</div>
            <div class="form-steps">
                <button id="@NextId" type="submit" name="action" class="button">
                    @Messages("acquire_newkeeperenteraddressmanually.submitbutton")
                </button>
                <a id="@BackId" class="button-secondary" href="@controllers.routes.NewKeeperChooseYourAddress.present()">
                    @Messages("acquire_newkeeperenteraddressmanually.backbutton")
                </a>
            </div>
            }
        </div>
    </div>
}
