@(data: uk.gov.dvla.vehicles.presentation.common.model.VehicleDetailsModel,
    privateKeeperDetailsForm: Form[models.PrivateKeeperDetailsFormModel],
    titleOptions: Seq[(String, String)])(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import controllers.routes.BeforeYouStart
@import controllers.routes.VehicleLookup
@import controllers.routes.PrivateKeeperDetails
@import views.html.helper.form
@import views.acquire.PrivateKeeperDetails.{BackId, SubmitId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.Email.EmailMaxLength
@import common.views.html.widgets.base.valtechSelect
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.dates.valtechDate
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.titlePicker
@import common.mappings.Postcode
@import models.PrivateKeeperDetailsFormModel.Form.{TitleId, DateOfBirthId, EmailId, FirstNameId, FirstNameMaxLength, PostcodeId}
@import models.PrivateKeeperDetailsFormModel.Form.{LastNameId, LastNameMaxLength, DriverNumberId, DriverNumberMaxLength}

@main(
    progress = Some(Messages("acquire_progress_5")),
    title = Messages("acquire_privatekeeperdetails.title"),
    currentForm = Some(privateKeeperDetailsForm)
) {
    @form(action = PrivateKeeperDetails.submit) {
        @csrfTokenHiddenField()

        <div class="two-col clearfix">
            <div class="first-col">
                <h2>@Messages("acquire_privatekeeperdetails.vehicledetails")</h2>
                <dl class="playback">
                    <dt>@Messages("acquire_privatekeeperdetails.vehiclereg")</dt>
                    <dd>@data.registrationNumber</dd>
                    <dt>@Messages("acquire_privatekeeperdetails.vehiclemake")</dt>
                    <dd>@data.vehicleMake</dd>
                    <dt>@Messages("acquire_privatekeeperdetails.vehiclemodel")</dt>
                    <dd>@data.vehicleModel</dd>
                </dl>
                <div class="alert-warning print-message">
                  <p><strong>@Messages("acquire_privatekeeperdetails.p4")</strong></p>
                </div>
            </div>

            <div class="second-col">
                <p>@Messages("acquire_privatekeeperdetails.p1")</p>
                <p>@Messages("acquire_privatekeeperdetails.p2")</p>
                <p>@Messages("acquire_privatekeeperdetails.p3")</p>

                <div class="uppercase-input">
                    @titlePicker(
                       field = privateKeeperDetailsForm(TitleId),
                       args = Map('autofocus ->true)
                    )
                </div>
                <div class="uppercase-input">
                    @valtechInputText(privateKeeperDetailsForm(FirstNameId), args =
                        Map('_label -> Messages("acquire_privatekeeperdetails.firstnamelabel"),
                            '_showConstraints -> false,
                            'maxLength -> FirstNameMaxLength
                        )
                    )
                </div>
                <div class="uppercase-input">
                    @valtechInputText(privateKeeperDetailsForm(LastNameId), args =
                        Map('_label -> Messages("acquire_privatekeeperdetails.lastnamelabel"),
                            '_showConstraints -> false,
                            'maxLength -> LastNameMaxLength
                        )
                    )
                </div>
                    @valtechDate(
                        privateKeeperDetailsForm(DateOfBirthId),
                        Messages("privatekeeper_dateofbirth"),
                        Some(Messages("acquire_privatekeeperdetails.dateofbirth.hint")
                    ))

                <div class="uppercase-input">
                    @valtechInputText(privateKeeperDetailsForm(DriverNumberId),
                        hintText = Some(Messages("acquire_privatekeeperdetails.drivernumber.hint")),
                        args = Map('_label -> Messages("acquire_privatekeeperdetails.drivernumberlabel"),
                            '_showConstraints -> false,
                            'maxLength -> DriverNumberMaxLength
                        )
                    )
                </div>

                @valtechInputText(privateKeeperDetailsForm(EmailId), args =
                    Map('_label -> Messages("acquire_privatekeeperdetails.emaillabel"),
                        '_showConstraints -> false,
                        'typeEmail -> true,
                        'maxLength -> EmailMaxLength
                    )
                )

                <div class="uppercase-input">
                    @valtechInputText(privateKeeperDetailsForm(PostcodeId),
                    hintText = Some(Messages("acquire_privatekeeperdetails.postcode.hint")),
                    args = Map('_label -> Messages("acquire_privatekeeperdetails.postcodelabel"),
                    '_showConstraints -> false,
                    'maxLength -> Postcode.MaxLength
                    )
                    )
                </div>

                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">
                        @Messages("acquire_privatekeeperdetails.submitbutton")
                    </button>
                    <a id="@BackId" href="@controllers.routes.VehicleLookup.present()" class="button-secondary">
                        @Messages("acquire_privatekeeperdetails.backbutton")
                    </a>
                </div>
            </div>
        </div>
    }
}