@(data: uk.gov.dvla.vehicles.presentation.common.model.VehicleDetailsModel)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config)

@import controllers.routes.BeforeYouStart
@import controllers.routes.VehicleLookup
@import views.acquire.PrivateKeeperDetails.{BackId}
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField

@main(
    title = Messages("acquire_individualkeeperdetails.title")
) {
    <div class="two-col clearfix">
        <div class="first-col">
            <div class="form-steps">
                @csrfTokenHiddenField()
                <a id="@BackId" href="@controllers.routes.VehicleLookup.present()" class="button-secondary">
                    @Messages("acquire_individualkeeperdetails.backbutton")
                </a>
            </div>
        </div>

        <div class="second-col">
            <h2>@Messages("acquire_individualkeeperdetails.vehicledetails")</h2>
            <dl class="summary-detail-list">
                <dt>@Messages("acquire_individualkeeperdetails.vehiclereg")</dt>
                <dd>@data.registrationNumber</dd>
                <dt>@Messages("acquire_individualkeeperdetails.vehiclemake")</dt>
                <dd>@data.vehicleMake</dd>
                <dt>@Messages("acquire_individualkeeperdetails.vehiclemodel")</dt>
                <dd>@data.vehicleModel</dd>
            </dl>
        </div>
    </div>
}
