@(viewModel: models.VehicleTaxOrSornViewModel
)(implicit lang: Lang,
token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config
)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.base.valtechDeclareCheck
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.vehicleDetailPlayback
@import common.views.html.widgets.listRadioGroup
@import controllers.routes.VehicleTaxOrSorn
@import models.VehicleTaxOrSornFormModel.Form.{TaxId,SornId,NeitherId,SelectId}
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common.views.models.RadioWithHint
@import views.acquire.VehicleTaxOrSorn.{BackId, SubmitId}
@import views.html.acquire.main
@import views.html.helper.form

@main(
progress = Some(Messages("acquire_progress_7")),
title = Messages("acquire_vehicleTaxOrSorn_title"),
currentForm = Some(viewModel.form),
backButton = Some(controllers.routes.VehicleTaxOrSorn.back())
) {
<h1>@Messages("acquire_vehicleTaxOrSorn_title")</h1>

<div class="two-col clearfix" xmlns="http://www.w3.org/1999/html">
    <div class="first-col">
        @playbackList(
        Messages("acquire_vehicleTaxOrSorn.newkeeperDetails"),
        {
            val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
            playbackItems += (Messages("acquire_vehicleTaxOrSorn.displayName") -> viewModel.keeperDetails.displayName)
            playbackItems += (Messages("acquire_vehicleTaxOrSorn.address") -> viewModel.keeperDetails.address.address.mkString("<br/>"))
            viewModel.keeperDetails.email match {
                case Some(email) => playbackItems += ("EMAIL_" + Messages("acquire_vehicleTaxOrSorn.email") -> email)
                case None => playbackItems += (Messages("acquire_vehicleTaxOrSorn.email") -> Messages("acquire_vehicleTaxOrSorn.emailNotEntered") )}
            if(viewModel.keeperDetails.isBusinessKeeper)
                playbackItems += (Messages("acquire_vehicleTaxOrSorn.fleetNumber") -> viewModel.keeperDetails.fleetNumber.getOrElse(Messages("acquire_vehicleTaxOrSorn.fleetNumberNotEntered")))
            else
                playbackItems
        }
        )()
        @vehicleDetailPlayback(viewModel.vehicleAndKeeperDetails)()
    </div>

    <div class="second-col">
        <p>@Messages("acquire_vehicleTaxOrSorn.p1")</p>

        @form(action = VehicleTaxOrSorn.submit()) {
            @csrfTokenHiddenField()

            @defining(viewModel.form.data) { form =>

                @listRadioGroup(field = viewModel.form(SelectId),
                    optionsWithHint = Seq(
                        RadioWithHint(TaxId, Messages("acquire_vehicleTaxOrSorn.taxVehicle"), "",
                            """<div class="tax-text panel-indent-wrapper">
                                    <div id="tax_details" class="panel-indent">
                                        <a class="large" href="https://www.gov.uk/vehicle-tax" target="_blank">""" + Messages("acquire_vehicleTaxOrSorn.link") + """</a>
                                        <p class="form-hint">""" + Messages("acquire_vehicleTaxOrSorn.taxText") + """</p>
                                        <p class="form-hint">""" + Messages("acquire_vehicleTaxOrSorn.taxText-2") + """</p>
                                    </div>
                               </div>"""),
                        RadioWithHint(SornId, Messages("acquire_vehicleTaxOrSorn.sornNow"), "", ""),
                        RadioWithHint(NeitherId, Messages("acquire_vehicleTaxOrSorn.neither"), "",
                            """<div class="neither-text panel-indent-wrapper">
                                    <div id="neither_details" class="panel-indent">
                                        <p class="form-hint">""" + Messages("acquire_vehicleTaxOrSorn.neitherText.p1") + """</p>
                                        <p class="form-hint">""" + Messages("acquire_vehicleTaxOrSorn.neitherText.p2") + """</p>
                                    </div>
                               </div>""")
                    ),
                    args = Map(
                       '_label -> Messages("acquire_vehicleTaxOrSorn.label")
                    )
                )

               <!-- Next and back buttons -->
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button"
                            onclick="if (document.getElementById('@SelectId' + '_' + '@TaxId').checked) window.open('https://www.gov.uk/vehicle-tax', '_blank');">
                        @Messages("acquire_vehicleTaxOrSorn.submitbutton")
                    </button>
                </div>
            }
        }
    </div>
</div>
}
