@(viewModel: models.VehicleTaxOrSornViewModel
)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config
)

@import controllers.routes.VehicleTaxOrSorn
@import models.VehicleTaxOrSornFormModel.Form.{SornVehicleId, SelectId, TaxId}
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.base.valtechDeclareCheck
@import common.views.html.widgets.listRadioGroup
@import common.views.html.widgets.playbackList
@import views.acquire.VehicleTaxOrSorn.{BackId, SubmitId}
@import views.html.acquire.main
@import views.html.helper.form
@import views.html.common.vehicle_detail_playback

@main(
    progress = Some(Messages("acquire_progress_7")),
    title = Messages("acquire_vehicleTaxOrSorn_title"),
    currentForm = Some(viewModel.form),
    backButton = Some(controllers.routes.VehicleTaxOrSorn.back())
) {
<h1>@Messages("acquire_vehicleTaxOrSorn_title")</h1>

<div class="two-col clearfix" xmlns="http://www.w3.org/1999/html">
    <div class="first-col">
        @playbackList(
            Messages("acquire_vehicleTaxOrSorn.newkeeperDetails"),
            {
                val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                playbackItems += (Messages("acquire_vehicleTaxOrSorn.displayName") -> viewModel.keeperDetails.displayName)
                playbackItems += (Messages("acquire_vehicleTaxOrSorn.address") -> viewModel.keeperDetails.address.address.mkString("<br/>"))
                playbackItems += (Messages("acquire_vehicleTaxOrSorn.email") -> (viewModel.keeperDetails.email match { case Some(email) => "<span class=\"lowercase-text\">" + email + "</span>" ; case _ => Messages("acquire_vehicleTaxOrSorn.emailNotEntered") }))
                if(viewModel.keeperDetails.isBusinessKeeper)
                    playbackItems += (Messages("acquire_vehicleTaxOrSorn.fleetNumber") -> viewModel.keeperDetails.fleetNumber.getOrElse(Messages("acquire_vehicleTaxOrSorn.fleetNumberNotEntered")))
                else
                    playbackItems
            }
        )()
        @vehicle_detail_playback(viewModel.vehicleAndKeeperDetails)
    </div>

    <div class="second-col">
        <p>@Messages("acquire_vehicleTaxOrSorn.p1")</p>
        <p>Do you want to:</p>

        @form(action = VehicleTaxOrSorn.submit()) {
            @csrfTokenHiddenField()

            @defining(viewModel.form.data) { form =>

                <!-- option group -->
                <div class="expandable-optional
                @if(viewModel.errorType == NoSelection || (viewModel.errorType == NoSorn && form.get("select").exists(_ != "S"))) {
                    form-item validation
                } sorn-tax-radio-wrapper">
                    @if(viewModel.errorType == NoSelection) {
                        <p class="error">@Messages("acquire_vehicleTaxOrSorn.selectidError")</p>
                    }
                    @if(viewModel.errorType == NoSorn && form.get("select").exists(_ != "S")) {
                        <p class="error">@Messages("error.nosornformerror")</p>
                    }
                    <fieldset>
                        <div class="radio" id="select">
                            <div class="form-item">
                                <label class="form-radio selectable" for="tax">
                                    <input id="tax" class="option-visible ga-track-value" data-ga-action="Tax-or-SORN" data-ga-label="Tax" name="select" type="radio" autofocus="true"
                                    @if(form.get("select").exists(_ == "T")) { checked }
                                    aria-required="true" value="T"/><span>@Messages("acquire_vehicleTaxOrSorn.taxVehicle")</span>
                                </label>

                                <!-- Shown when tax is selected -->
                                <div class="tax-text panel-indent-wrapper">
                                    <div id="tax_details" class="panel-indent">
                                        <a class="large" href="https://www.gov.uk/vehicle-tax" target="_blank">@Messages("acquire_vehicleTaxOrSorn.link")</a>
                                        <p class="form-hint">@Messages("acquire_vehicleTaxOrSorn.taxText")</p>
                                        <p class="form-hint">@Messages("acquire_vehicleTaxOrSorn.taxText-2")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-radio selectable" for="sorn">
                                    <input id="sorn" class="option-visible ga-track-value" data-ga-action="Tax-or-SORN" data-ga-label="SORN" name="select" type="radio"
                                    @if(form.get("select").exists(_ == "S")) {
                                        checked }
                                    aria-required="true" value="S"/><span>@Messages("acquire_vehicleTaxOrSorn.sornNow")</span>
                                </label>

                                <!-- Shown when sorn is selected -->
                                <div class="sorn-text panel-indent-wrapper ">
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-radio selectable" for="neither">
                                    <input id="neither" class="option-visible ga-track-value span" data-ga-action="Tax-or-SORN" data-ga-label="Neither" name="select" type="radio"
                                    @if(form.get("select").exists(_ == "N")) { checked }
                                    aria-required="true" value="N"/><span>@Messages("acquire_vehicleTaxOrSorn.neither")</span>
                                </label>

                                <!-- Shown when neither is selected -->
                                <div class="neither-text panel-indent-wrapper">
                                    <div id="neither_details" class="panel-indent">
                                        <p class="form-hint">@Messages("acquire_vehicleTaxOrSorn.neitherText.p1")</p>
                                        <p class="form-hint">@Messages("acquire_vehicleTaxOrSorn.neitherText.p2")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            }

            <!-- Next and back buttons -->
            <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button" onclick="if (document.getElementById('@TaxId').checked) window.open('https://www.gov.uk/vehicle-tax', '_blank');">
                        @Messages("acquire_vehicleTaxOrSorn.submitbutton")
                    </button>
            </div>

        }
    </div>
</div>
}