@(viewModel: models.VehicleLookupViewModel
)(implicit lang: Lang,
  token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
  config: utils.helpers.Config
)

@import models.VehicleLookupFormModel.Form.{DocumentReferenceNumberId, VehicleRegistrationNumberId, VehicleSoldToId}
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import common.views.helpers.BaseTemplate.fieldConstructor
@import common.views.html.widgets.base.valtechInputText
@import common.views.html.widgets.base.csrfTokenHiddenField
@import common.views.html.widgets.listRadioGroup
@import common.views.html.widgets.playbackList
@import views.acquire.VehicleLookup.{BackId, SubmitId, VehicleSoldTo_Private, VehicleSoldTo_Business}
@import views.html.acquire.main
@import views.html.helper.form
@import scala.collection.mutable.ListBuffer

@main(
    progress = Some(Messages("acquire_progress_4")),
    title = Messages("acquire_vehiclelookup.title"),
    currentForm = Some(viewModel.form),
    backButton = Some(controllers.routes.VehicleLookup.back())
) {
    <h1>@Messages("acquire_vehiclelookup.title")</h1>

    <div class="two-col clearfix vehicle-lookup">

        <div id="trader-details" class="first-col trader-details">
            @playbackList(
                Messages("acquire_vehiclelookup.p2"),
                {
                    val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();
                    playbackItems += (Messages("acquire_vehiclelookup.tradernamelabel") -> viewModel.traderName)
                    playbackItems += (Messages("acquire_vehiclelookup.traderaddresslabel") -> viewModel.address.mkString("<br/>"))
                    playbackItems += (Messages("acquire_vehiclelookup.traderemaillabel") -> viewModel.email.getOrElse(Messages("acquire_email_not_entered")))
                }
            )()
        </div>

        <div class="second-col uppercase-input">
            <div class="form-steps">
                <div class="step uppercase-input">
                    @form(action = controllers.routes.VehicleLookup.submit()) {
                        @csrfTokenHiddenField()

                        @valtechInputText(viewModel.form(VehicleRegistrationNumberId), args =
                            Map('_label -> Messages("acquire_vehiclelookup.vrninputlabel"),
                                'maxLength -> VehicleRegistrationNumber.MaxLength,
                                '_showConstraints -> false,
                                'alphaNumericOnly -> true
                            )
                         )

                        @valtechInputText(viewModel.form(DocumentReferenceNumberId), args =
                            Map('_label -> Messages("acquire_vehiclelookup.refnumlabel"),
                            'tooltipImgSrc -> controllers.StaticAssets.versioned(config.assetsUrl)("images/document-reference-number.png"),
                            'tooltipHeading -> Messages("acquire_vehiclelookup.v5c"),
                            '_showConstraints -> false,
                            'typeTel -> true,
                            'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                            //'title -> Messages("error.validDocumentReferenceNumber")
                            'title -> Messages("")) ++ // [SKW] for accessibility Tony removed have 'title text as the screen reader reads it twice, the knock-on effect is that our custom validation messages aren't displayed so the user has no idea what is wrong.
                            (if(config.isHtml5ValidationEnabled) Map('pattern -> DocumentReferenceNumber.Pattern) else Nil)
                        )

                        @listRadioGroup(field = viewModel.form(VehicleSoldToId),
                            args = Map(
                                'items -> Seq(
                                    VehicleSoldTo_Private -> Messages("acquire_vehiclelookup.vehiclesoldto.private"),
                                    VehicleSoldTo_Business -> Messages("acquire_vehiclelookup.vehiclesoldto.business")
                                ),
                                '_label -> Messages("acquire_vehiclelookup.vehiclesoldto.label")
                            )
                        )

                        <div class="form-steps">
                            <button id="@SubmitId" type="submit" name="action" class="button">
                                @Messages("acquire_vehiclelookup.button")
                            </button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
