//Exemplar specific


#{$htmlNamespace} {

  .acquire-success {
    .first-col .playback,
    .second-col .playback {
        dd.tax-or-sorn {
            padding-bottom: 0;
        }
        dd.tax-or-sorn-sub {
            color: $grey-1;
            font-weight: normal;
            text-transform: none;
            font-size: 16px;
        }
    }
  }

  .acquire-success {
      .first-col,
      .second-col {
          .related.mobile-only {
              @media screen and (max-width:$device-medium) {
                margin-bottom: 2em;
              }
          }

          .playback.transaction-details {
              background: $light-blue-25;
              padding: 1em;
          }
      }

      .first-col {
          float: left;
          width: 63%;
          margin-top: 0;
          @media screen and (max-width:$device-medium) {
              width: 100%;
          }
      }
      .second-col {
          float: right;
          width: 30%;

          @media screen and (max-width:$device-medium) {
              width: 100%;
              display: none;
          }
          .playback {
              dt,
              dd {
                  font-size: 16px;
              }
          }
      }
  }

}