// Exemplar specific

#{$htmlNamespace} {

    .acquire-complete-confirm {
        .playback dd.tax-or-sorn {
            @include long-text-wrap('word');
        }
    }

    .acquire-success {
        .related {
            @media screen and (max-width:$device-medium) {
                margin-bottom: 2em;
            }
        }
        .tax-or-sorn-sub {
            -ms-word-break: normal;
            word-break: normal;
            word-wrap: normal;
            -webkit-hyphens: none;
            -moz-hyphens: none;
            hyphens: none;
            color: $grey-1;
            font-weight: normal;
            text-transform: none;
            &.transaction-details {
                background: $light-blue-25;
                padding: 1em;
            }
        }

        .acquire-success-summary-playback {
          padding: 1em;
          .info-notice {
            border: none;
            padding: 0;
          }
        }

    }

    .sorn-text, .tax-text, .neither-text {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      float: left;

      p {
        display: inline-block;
        width: 100%;
      }
      .panel-indent {
        .ie7 & {
          float: none;
        }
        float: left;
      }

      .form-item {
        margin: 10px 0;
      }

      .ie7 & {
        margin-top: 20px;
      }
    }


} // end $htmlNamespace
