// Exemplar specific

#{$htmlNamespace} {

    .acquire-complete-confirm {
        .playback dd.tax-or-sorn {
            @include long-text-wrap('word');
        }
    }

    .acquire-success {
        .related {
            @media screen and (max-width:$device-medium) {
                margin-bottom: 2em;
            }
        }
        .tax-or-sorn-sub {
            -ms-word-break: normal;
            word-break: normal;
            word-wrap: normal;
            -webkit-hyphens: none;
            -moz-hyphens: none;
            hyphens: none;
            color: $grey-1;
            font-weight: normal;
            text-transform: none;
            &.transaction-details {
                background: $light-blue-25;
                padding: 1em;
            }
        }
    }

} // end $htmlNamespace