// Exemplar specific

#{$htmlNamespace} {

    .acquire-success {
        .related {
            @media screen and (max-width:$device-medium) {
                margin-bottom: 2em;
            }
        }
        .tax-or-sorn {
            -ms-word-break: normal;
            word-break: normal;
            word-wrap: normal;
            -webkit-hyphens: none;
            -moz-hyphens: none;
            hyphens: none;
            font-weight: bold;
            text-transform: none;
        }
    }

    .sorn-text, .tax-text, .neither-text {
      width: 100%;
      display: block;
      float: left;

      p {
        display: inline-block;
        width: 100%;
      }
      .panel-indent {
        .ie7 & {
          float: none;
        }
        float: left;
      }

      .form-item {
        margin: 10px 0;
      }

      .ie7 & {
        margin-top: 20px;
      }
    }
} // end $htmlNamespace
