//print styles

@import "../../target/web/web-modules/main/webjars/lib/vehicles-presentation-common/scss/_print.scss";

.vehicles-acquire-online {
    padding: 20px;
    margin-bottom: 0;
}

.vehicle-details-header {
  padding-top: 20px;
}

.playback {
    dd {
        text-transform: uppercase;
    }
}

.alert-warning {
  display: none;
}

.acquire-success {
   .related,
   .alert-complete {
      display: none;
   }
}