@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.common.UprnNotFound.{ManualaddressbuttonId, SetuptradedetailsbuttonId}
@import controllers.routes.NotImplemented
@import views.html.acquire.main

@main(
    title = Messages("acquire_uprnnotfound.title")
) {
    <p>@Messages("acquire_uprnnotfound.p1")</p>

    <div class="form-steps">
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@ManualaddressbuttonId" href="@controllers.routes.NotImplemented.present()">@Messages("acquire_uprnnotfound.setuptradedetailsbutton")</a>
        <a class="button-secondary" id="@SetuptradedetailsbuttonId" href="@controllers.routes.SetUpTradeDetails.present()">@Messages("acquire_uprnnotfound.manualaddressbutton")</a>
    </div>
}
